replicaCount: 1

image:
  repository: ghcr.io/qdrant/qdrant-operator
  tag: ""
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: ""

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

operator:
  logLevel: INFO
