apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "qdrant-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "qdrant-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "qdrant-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "qdrant-operator.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "qdrant-operator.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: LOG_LEVEL
              value: {{ .Values.operator.logLevel | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
